@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
body{
    font-size: 14px;
    font-family: "inter",sans-serif;
    background-color: #0c0ce94d;
    display: flex;
    align-items:center;
    justify-content: center;

}
.container{
    width: 80%;
    background-color: #fff;
    margin-top: 100px;
    display: flex;
    justify-content: center;
    box-shadow: 5px 5px 10px rgba(0,0,0, .212);
}
.lado-left{
    background-color: #FDE3A7D7;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.imagem img{
    padding: 50px;
    width: 100%;

}
.lado-right{
    background-color: #fff;
    width: 50%;
    display: flex;
    flex-direction: column;
    padding-left: 20px ;
    padding-right: 20px;
}
.form{
    width: 100%; 
}
.caixas input{
    width: 100%;
    border: solid #ccc;
    margin-right: 20px;
    margin-top: 9px;
    margin-bottom: 10px;
    padding: 4px;
    border-radius: 8px;
    opacity: 0.5;
    box-shadow: 2px 2px 4px #000000c1;
    
}
.caixas input:focus-visible{
    outline: 2px solid #6C63FF;
}
.caixa1{    
    display: flex;
    justify-content: space-between;
    margin: 40px 0;
    
}
.caixa1 button{
    background-color: #6C63FF;
    color:#fff;
    padding: 6px 12px;
    border-radius: 10px;
}
.caixa1 h2::after{
    content: "";
    width: 60px;
    height: 4px;
    background-color: #6C63FF ;
    position: absolute;
    display: block;
    margin: 0 auto;
    border-radius: 10px;
}
.caixa2{
    margin-top: 40px ;
    margin-bottom: 12px;
    display: flex;
    justify-content: space-between;
    
}
.nome{
    display: flex;
    flex-direction: column;
}
.sobrenome{
    display: flex;
    flex-direction: column;
}

.caixa3{
    margin-bottom: 12px;
    display: flex;
    justify-content: space-between;
}
.email{
    display: flex;
    flex-direction: column;
}
.celular{
    display: flex;
    flex-direction: column;
}
.caixa4{
    margin-bottom: 12px;
    display: flex;
    justify-content: space-between;
}
.senha{
    display: flex;
    flex-direction: column;
}
.confirme-senha{
    display: flex;
    flex-direction: column;
}
.caixa5{
    display: flex;
    margin-top: 5px;
    font-size: 12px;
    margin-bottom: 20px;
    align-items: center;
    justify-content: center;
    
  
}
.genero{
 
}
.caixa5 input{
    font-weight: bold;
    margin-right: 5px;
    margin-left: 20px;
}
.feminino{
    display: flex;
    align-items: center;
}
.masculino{
    display: flex;
    align-items: center;
}
.outros{
    display: flex;
    align-items: center;
}
.prefiro-nao-dizer{
    display: flex;
    align-items: center;
    width: 200px;
}
.button-continuar{
    align-items: center;
    display: flex;
    justify-content: center;
    color: #fff;
    background-color: #6C63FF;
    width: 100%;
    border-radius: 7px;
    padding: 10px 0; 
    margin-top: 30px;
    margin-bottom: 6px;
}
.button-continuar button{
    align-items: center;
    display: flex;
    justify-content: center;
    color: #fff;
    background-color: #6C63FF;
    
}
@media(max-width: 1070px){
   .lado-left{
    display: none;
   }
   .caixas input{
    width: 90%;
   }
}
@media(max-width: 880px){
       .caixas{
        flex-direction: column;
        overflow-y: scroll;
        flex-wrap: nowrap;
        max-height: 10rem;
        padding-right: 5rem;
        font-size: 10px;
        max-width: 100%;
       }
       .container{
        max-width: 100%;
       }
       .form{
        max-width: 100%;
       }
       .caixas input{
        font-size: 10px;
        max-width: 100%;
       }
       .caixa5{
        width: 50%;
        align-items:flex-start;
        display: flex;
        flex-direction: column;
       }
       
}
@media(max-width: 704px){
    .form{
        width: 100%;
    }
    .caixas{
        max-width: 100%;
        padding: 10%;

    }
}
@media(max-width: 504px){
    .form{
        width: 100%;
        padding: 0;
    }
    .caixas{
        max-width: 100%;
        padding: 6%;

    }
}


